.groceryListBody {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groceryListInner {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groceryListList {
    width: 100%;
}

.ingredientExpiry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}