.groceryListBody {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groceryListInner {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groceryListList {
    width: 100%;
}

.ingredientExpiry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredientExpiryForm {
    max-width: 200px;
}

.editButton {
    margin-right: 10px;
}

.trActive {
    background-color: lightblue !important;
}
.listRow {
    width: 100%;
}
.listRow tr {
    width: 100%;
}